* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #606c71;
    position: relative;
}

a {
    color: #0F5C47;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:hover, a:focus {
    color: #526263;
}

h1 {
    border-bottom: 1px solid #0F5C47;
}


.nice {
    border-radius: 5px;
    border: solid #16B686 1px;
    display: inline-block;
    padding: 0 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.page-header > .postman-run-button:after {
    content: "Run in postman";
    margin: 10px;
}

.page-header > .postman-run-button {
    background: none;
    display: inline-block;
    margin-bottom: 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    width: 140px;
    height: 38px;
    padding-top: 7.9px;
}

.page-header {
    padding: 30px;
}

.box {
    background-color: rgba(15, 92, 71, 0.04);
    -moz-box-shadow: inset 0 0 10px #0F5C47;
    -webkit-box-shadow: inset 0 0 10px #0F5C47;
    box-shadow: inset 0 0 10px #0f78593b;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #0F5C47;
    background-image: linear-gradient(120deg, #0F7859, #0F5C47);
}


.project-name {
    margin-top: -50px;
    margin-bottom: 0.1rem;
    word-wrap: break-word;
    border-bottom: none;
    font-weight: normal;
    font-size: 24px;
}

@media screen and (min-width: 64em) {
    .project-name {
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
    }
}

@media screen and (max-width: 42em) {
    .project-name {
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
    }
}


.menu {
    background-color: white;
    border-right: 1px solid #526163;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    padding: 0;
    z-index: 10;
}

.navbar {
    border: none;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-header {
    width: 100%;
}

.h2item {
    display: none;
    margin-left: 15px;
}

.h3item {
    display: none;
    margin-left: 30px;
}
.main-content h3 {
    margin-top: 2rem;
    margin-bottom: 1px;
    font-weight: normal;
    color: #0F5C47;
}

.active > .h2item, .h2item > .active, .active > .h2item > .h3item, .active > .h3item    {
    display: block;
}

.navbar-collapse {
    padding: 0;
}

.nav>li>a {
    position: inherit;
    display: block;
}

.main-content :first-child {
    margin-top: 0;
}

.main-content img {
    max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #0F5C47;
}

.main-content p {
    text-align: justify;
    margin-bottom: 1em;
    margin-top: 1px;
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
}

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
}

.main-content pre > code {
    padding: 0;
    margin: 0;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
    margin-bottom: 1rem;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    line-height: 1.45;
    border-radius: 0.3rem;
}

.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal;
}

.main-content ul, .main-content ol {
    margin-top: 0;
}

.main-content blockquote {
    padding: 0 1rem;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote > :last-child {
    margin-bottom: 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main-content dl {
    padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
}

@media screen and (min-width: 64em) {
    .main-content {
        padding: 2rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
    }
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
    }
}
