.myparcel_container h2{
    color: #0a0a0a;
    font-size: 17px;
    font-weight: 600;
    padding: 1.9rem 0rem 1.9rem

}
.myparcel_container .myparcel_instructions{
    border: 1px solid;
    border-color:rgb(225, 228, 232);
    padding: 10px;
}

/* Projects columns */
.myparcel_container .mainClass{
    padding: 0;
    margin:0;
    width: 100%;
}

.myparcel_container .container_columns {
    display: block;
}

.myparcel_container .column{
    float:left;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 2px;
    border-color: #fafbfc;
    background-color: #ffffff;
    border: 1px solid;
    border-color:rgb(225, 228, 232);
    width: 300px;
    max-width: 100%;
    padding-top: 10px;
}

.myparcel_container .column_titel {
    color: #01bbc5;
}

.myparcel_container .cards{
    color: #01bbc5;
}

.myparcel_container .myparcel_container h2{
    margin:10px;
    color:#01bbc5;
}

.myparcel_container .card{
    border-top: 1px solid;
    border-color:rgb(225, 228, 232);
    padding: 10px;
}

.myparcel_container .card_url{
    text-decoration: none;
    color: #333352;
}

.myparcel_container .card_url:hover {
    color: #333352;
    text-decoration: underline;
    -moz-text-decoration-color: #333352;
    text-decoration-color: #333352;
}

.myparcel_container .mypa_columns{
    display: table;
    margin: 0 auto;
}

@media (max-width: 951px) {
    .myparcel_container .column{
        width: 100%;
    }
}