.myparcel_container h2 {
    color: #0a0a0a;
    font-size: 17px;
    font-weight: 600;
    padding: 1.9rem 0rem 1.9rem;

}
.myparcel_container .instructions {
    border: 1px solid;
    border-color:rgb(225, 228, 232);
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.myparcel_container .instructions ol {
    padding-left: 20px;
}
.myparcel_container .instructions li {
    padding-left: 5px;
}

.myparcel_container .instructions .text-box ul {
    padding-left: 20px;
}
.myparcel_container .myparcel_support, .myparcel_container .support_contact td {
    padding: 0 !important;
}
.myparcel_container .support_tab {
    padding-left: 20px;
}
.myparcel_container .myparcel_documents {
    margin-top: 20px;
}

.myparcel_column {
    width: 29.9%;
    float: left;
    height: 43px;
}
.myparcel_column h2 {
    padding: 10px;
}

.card_item{
    border: 1px solid #e3e3e3;
    color: #303030;
    display: block;
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
    width: 66.7%;
    padding: 10px;
    height: 40px;
    float: right;
}
.card_item:hover {
   cursor: default;
}
.myparcel_progress_column_title {
    border: 1px solid rgb(225, 228, 232);
}
.myparcel_column:hover {
    background: #f1f1f1;
}
.myparcel_column a:hover {
    text-decoration: none;
}
