# Global
*       @myparcelnl/plugin-developers

# Both plugin and frontend
*.css   @myparcelnl/plugin-developers @myparcelnl/frontend-developers
*.jpg   @myparcelnl/plugin-developers @myparcelnl/frontend-developers
*.json  @myparcelnl/plugin-developers @myparcelnl/frontend-developers
*.png   @myparcelnl/plugin-developers @myparcelnl/frontend-developers
*.scss  @myparcelnl/plugin-developers @myparcelnl/frontend-developers
*.svg   @myparcelnl/plugin-developers @myparcelnl/frontend-developers

# Frontend only
*.js    @myparcelnl/frontend-developers
*.jsx   @myparcelnl/frontend-developers
*.ts    @myparcelnl/frontend-developers
*.tsx   @myparcelnl/frontend-developers
*.vue   @myparcelnl/frontend-developers
