.table-checkout-shipping-method > thead {
    display: none;
}
input[name=mypa-delivery-type],
input[name=mypa-delivery-time],
input[name=mypa-pickup-option] {
    display: none;
}
#myparcel_td {
    width:100%;
}
#mypa-slider {
    width: 204%;
    max-height: 435px;
}
.mypa-slider-pos-0 {
    left: 0;
}
.mypa-slider-pos-1 {
    left: -49%;
}
.mypa-tab-container {
    vertical-align: top;
    transition: left 0.5s ease-out;
    width: 49%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#mypa-delivery-options-container {
    position: relative;
    word-wrap: initial;
    display: inline-block;
    overflow: hidden;
    font-weight: 400;
    width: 100%;
    min-height: 275px;
}
.mypa-delivery-header, .mypa-tab {
    color: #fff;
}
#mypa-tabs {
    position: relative;
    display: block;
    width: 100%;
    transition: left 0.3s ease-out 0.1s;
}
.mypa-tab {
    transition: background-color 0.4s;
    background: black;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-align: center;
    width: 110px;
    min-height: 34px;
    opacity: .5;
    cursor: pointer;
}
.mypa-delivery-header, .mypa-date:checked+label, .mypa-tab:hover{
    background: gray;
    opacity: 1;
}
.mypa-date {
    display: none;
}
.mypa-date:checked + label, .mypa-tab:hover {
    background: black;
}
.mypa-content-lg {
    transition: max-height 0.4s ease-out 0s;
    overflow: hidden;
}
.mypa-content-lg > div:first-child {
    border-top: solid 1px #D2D2D2;
}
.mypa-tab + .mypa-tab {
    margin-left: 4px;
}
.mypa-delivery-header {
    padding: 10px;
    font-size: 120%;
    background: black;
    text-align: center;
}
.mypa-header-title {
    display: block;
}
.mypa-checkmark {
    cursor: pointer;
    position: relative;
    top: 4px;
    display: inline-block;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.mypa-circle {
    transition: background-color 0.4s;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #C7C7C7;
    left: 0;
    top: 0;
    z-index: 1;
}
.mypa-circle:hover, label.mypa-row-subitem:hover .mypa-circle {
    background-color: gray;
}
input:checked + label.mypa-checkmark div.mypa-circle,
input[name=mypa-delivery-type]:checked + label div.mypa-main div.mypa-circle,
input[name=mypa-pickup-option]:checked + label div.mypa-main div.mypa-circle {
    background-color: gray;
    z-index: 0;
}
input[name=mypa-delivery-type] ~ div.mypa-content-lg {
    max-height: 0px;
}
input:disabled ~ div.mypa-switch-container label.mypa-onoffswitch-label span.mypa-onoffswitch-switch {
    background: #c7c7c7;
}
input[name=mypa-delivery-type]:checked ~ div.mypa-content-lg {
    max-height: 240px;
}
.mypa-checkmark-stem {
    position: absolute;
    width: 10%;
    height: 55%;
    background-color: #fff;
    left: 55%;
    top: 18%;
}
.mypa-checkmark-kick {
    position: absolute;
    width: 32%;
    height: 9%;
    background-color: #fff;
    left: 32%;
    top: 64%;
}
.mypa-row-lg {
    border-bottom: 1px solid #D2D2D2;
}
.mypa-row-title {
    display: inline-block;
    padding: 9px 0;
    width: 80%
}
.mypa-row-subitem {
    margin: 2px 0 6px 30px;
    display: block;
}
#mypa-delivery-options {
}
.mypa-onoffswitch {
    top: 7px;
    position: relative;
    width: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.mypa-onoffswitch-checkbox {
    display: none;
}
.mypa-onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #C7C7C7;
    border-radius: 20px;
}
.mypa-onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    margin-left: 0;
}
.mypa-onoffswitch-inner:before, .mypa-onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}
.mypa-onoffswitch-inner:before {
    content: "N";
    padding-left: 7px;
    background-color: #DE0D0D;
    color: #FFFFFF;
}
.mypa-onoffswitch-inner:after {
    content: "J";
    padding-right: 7px;
    background-color: #39D12E;
    color: #FFFFFF;
    text-align: right;
}
.mypa-onoffswitch-switch {
    display: block;
    width: 20px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    border: 2px solid #C7C7C7;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.mypa-onoffswitch-checkbox:checked + div.mypa-switch-container .mypa-onoffswitch .mypa-onoffswitch-label .mypa-onoffswitch-inner {
    margin-left: -41px;
}
.mypa-onoffswitch-checkbox:checked + div.mypa-switch-container .mypa-onoffswitch .mypa-onoffswitch-label .mypa-onoffswitch-switch {
    right: 21px;
}
.mypa-switch-container {
    display: inline-block
}
input:checked ~ .mypa-highlight,
input:checked ~ label.mypa-row-title span.mypa-highlight {
    color: gray
}
#mypa-back-arrow {
    cursor: pointer;
}
.mypa-arrow-left::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-left: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    transform: rotate(45deg);
    margin-right: 0.5em;
}
.mypa-arrow-right::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    transform: rotate(45deg);
    margin-right: 0.5em;
}
.mypa-arrow-clickable:hover::before {
    border-left: 0.2em solid gray;
    border-bottom: 0.2em solid gray;
}
.mypa-arrow-clickable:hover {
    color: gray;
}
#mypa-date-slider-left::before, #mypa-date-slider-right::before {
    border-color: #A0A0A0;
}
#mypa-date-slider-left:hover::before, #mypa-date-slider-right:hover::before {
    border-color: #FF8C00;
}
.mypa-slider-disabled#mypa-date-slider-left::before,
.mypa-slider-disabled#mypa-date-slider-right::before {
    border-color: #EAEAEA;
    cursor: not-allowed;
}
.mypa-date-slider-button {
    position: absolute;
    display: inline-block;
    top: 13px;
    font-size: 22px;
    cursor:pointer;
}
#mypa-date-slider-left {
    left: 19px;
}
#mypa-date-slider-right {
    right: 5px;
}
#mypa-tabs-container {
    height: 44px;
    margin-left: 45px;
    margin-right: 41px;
    overflow: hidden;
}
#mypa-location-container {
    overflow-x: auto;
    max-height: 270px;
    margin-right: 4px;
}
.mypa-price {
    position: relative;
    top: 5px;
    display: inline-block;
    padding: 2px 5px;
    background: #C7C7C7;
    color: white;
    float: right;
    font-weight: 800;
}
.mypa-combination-price {
    padding: 2px 0 2px 0;
}
.mypa-combination-price.mypa-combination-price-active {
}
.mypa-combination-price > .mypa-price {
    margin: 21px 0 0 0;
}
input:checked ~ .mypa-price,
input:checked ~ label span.mypa-price,
input:checked ~ span span.mypa-price,
.mypa-price-active {
    background: gray
}
#mypa-mailbox-options-title {
    width: 100%;
}
.mypa-info {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #ddd;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 4px;
    border: 2px solid;
}
.mypa-info::before {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    content: '';
    width: 2px;
    height: 9px;
    top: 35%;
    box-shadow: inset 0 0 0 32px;
    border-radius: 2px;
}
.mypa-info::after {
    pointer-events: none;
    content: '';
    width: 6px;
    height: 2px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(45deg) translate(1px, 2px);
    -ms-transform: rotate(45deg) translate(1px, 2px);
    transform: rotate(45deg) translate(1px, 2px);
    top: 35%;
    box-shadow: inset 0 0 0 32px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
}
.mypa-opening-hours {
    display: none;
    position: absolute;
    top: 77px;
    right: 115px;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 10px #B9B9B9;
    -moz-box-shadow: 1px 1px 10px #B9B9B9;
    box-shadow: 1px 1px 10px #B9B9B9;
}
div.afhalen-right:hover + .mypa-opening-hours {
    display: initial;
}
.mypa-day-of-the-week {
    display: inline-block;
    width: 30px;
}
.mypa-opening-hours-list {
    display: inline-block;
}
.mypa-hidden {
    display: none;
}
.mypa-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(226, 226, 226, 0.75);
}
#mypa-no-options {
    color: white;
    position: relative;
    z-index: 12;
    background: black;
    padding: 20px 20px;
    margin: 0 auto;
    top: 13%;
    width: 217px;
    display: block;
}
#mypa-no-options > submit {
    cursor: pointer;
    margin-left: 10px;
}
.mypa-pickup-selector input:checked ~ .mypa-highlight {
    color:gray;
}
.mypa-address {
    color: black;
    cursor: pointer;
}
.mypa-address:hover {
    text-decoration: underline;
}
.mypa-text-location {
    display: block;
    font-style: italic;
}
.mypa-edit-location {
    color: gray;
}
.mypa-inline-block {
    display: inline-block;
}
.mypa-afhalen-right {
    float: right;
    margin: 9px 4px 0 0;
}
.mypa-afhalen-check {
    float: left;
}
.mypa-afhalen-tekst {
    margin: 0px 38px 10px 57px;
    padding-top: 18px;
}
.mypa-afhalen-row {
    min-height: 53px;
}
.mypa-day-of-the-week-item {
    display: block;
}
/* hide shipping block in card */
div#block-shipping {
    display: none;
}