.mypa-tab,
.mypa-date:checked + label,
.mypa-tab:hover,
.mypa-delivery-header,
.mypa-delivery-header,
.mypa-date:checked+label,
.mypa-tab:hover,
#mypa-no-options {
    background-color: _base_color_;
}
.mypa-address {
    color: _base_color_;
}
.mypa-circle:hover,
label.mypa-row-subitem:hover
.mypa-circle,
input:checked + label.mypa-checkmark div.mypa-circle,
input[name=mypa-delivery-type]:checked + label div.mypa-main div.mypa-circle,
input[name=mypa-pickup-option]:checked + label div.mypa-main div.mypa-circle,
input:checked ~ .mypa-price,
input:checked ~ label span.mypa-price,
input:checked ~ span span.mypa-price,
.mypa-price-active {
    background-color: _select_color_
}
input:checked ~ .mypa-highlight,
input:checked ~ label.mypa-row-title span.mypa-highlight,
.mypa-arrow-clickable:hover,
.mypa-pickup-selector input:checked ~ .mypa-highlight,
.mypa-edit-location {
    color: _select_color_;
}
.mypa-arrow-clickable:hover::before {
    border-left: 0.2em solid _select_color_;
    border-bottom: 0.2em solid _select_color_;
}
