<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MyParcelNL_Magento::myparcelnl_magento" title="MyParcel NL Settings" translate="label" sortOrder="100">
                                <resource id="MyParcelNL_Magento::myparcelnl_magento_settings" title="MyParcel Dynamic Settings" translate="label" sortOrder="10" />
                                <resource id="MyParcelNL_Magento::delivery_options_read" title="MyParcel Delivery Options - Read" sortOrder="20" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>