<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <minify_exclude>
                    <leaflet>https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js</leaflet>
                </minify_exclude>
            </js>
        </dev>

        <myparcelbe_magento_general>
            <date_settings>
                <allow_show_delivery_date>1</allow_show_delivery_date>
                <deliverydays_window>7</deliverydays_window>
                <dropoff_delay>0</dropoff_delay>
            </date_settings>
            <print>
                <paper_type>A4</paper_type>
                <label_description>%order_nr%</label_description>
                <country_of_origin>NL</country_of_origin>
                <create_concept_after_invoice>0</create_concept_after_invoice>
                <return_in_the_box>0</return_in_the_box>
            </print>
            <shipping_methods>
                <methods>tablerate</methods>
            </shipping_methods>
            <delivery_titles>
                <delivery_title>Thuis of op het werk bezorgd</delivery_title>
                <standard_delivery_title>Standaardlevering</standard_delivery_title>
                <signature_title>Handtekening voor ontvangst</signature_title>
                <only_recipient_title>Niet bij de buren bezorgen</only_recipient_title>
                <morning_title>Ochtendlevering</morning_title>
                <evening_title>Avondlevering</evening_title>
                <mailbox_title>Brievenbuspakje</mailbox_title>
                <digital_stamp_title>Digitale postzegel</digital_stamp_title>
                <pickup_title>Ophalen bij een PostNL locatie</pickup_title>
                <pickup_list_button_title>List</pickup_list_button_title>
                <pickup_map_button_title>Map</pickup_map_button_title>
            </delivery_titles>
        </myparcelbe_magento_general>

        <myparcelbe_magento_bpost_settings>
            <default_options>
            </default_options>
            <general>
                <deliverydays_window>14</deliverydays_window>
                <cutoff_time>15,30,00</cutoff_time>
                <dropoff_days>1,2,3,4,5</dropoff_days>
                <monday_delivery_active>0</monday_delivery_active>
                <saturday_cutoff_time>14,30,00</saturday_cutoff_time>
                <dropoff_delay>0</dropoff_delay>
            </general>
            <delivery>
                <active>1</active>
                <signature_active>1</signature_active>
                <signature_fee>0.36</signature_fee>
                <only_recipient_active>1</only_recipient_active>
                <only_recipient_fee>0.29</only_recipient_fee>
                <saturday_active>0</saturday_active>
                <saturday_title>Zaterdaglevering</saturday_title>
                <saturday_fee>2</saturday_fee>
            </delivery>
            <digital_stamp>
                <active>0</active>
                <default_weight>0</default_weight>
                <fee>0</fee>
            </digital_stamp>
            <mailbox>
                <active>0</active>
                <other_options>1</other_options>
                <weight>2000</weight>
                <fee>3.50</fee>
                <pickup_mailbox>1</pickup_mailbox>
            </mailbox>
            <morning>
                <active>1</active>
                <fee>10</fee>
            </morning>
            <evening>
                <active>1</active>
                <fee>1.25</fee>
            </evening>
            <pickup>
                <active>1</active>
                <fee>0</fee>
            </pickup>
        </myparcelbe_magento_bpost_settings>

        <myparcelbe_magento_postnl_settings>
            <default_options>
                <signature_active>0</signature_active>
                <signature_from_price>1</signature_from_price>
                <only_recipient_active>0</only_recipient_active>
                <only_recipient_from_price>1</only_recipient_from_price>
                <return_active>0</return_active>
                <return_from_price>1</return_from_price>
                <large_format_active>No</large_format_active>
                <large_format_from_price>1</large_format_from_price>
                <age_check_active>0</age_check_active>
                <insurance_100_active>0</insurance_100_active>
                <insurance_100_from_price>1</insurance_100_from_price>
                <insurance_250_active>0</insurance_250_active>
                <insurance_250_from_price>1</insurance_250_from_price>
                <insurance_500_active>0</insurance_500_active>
                <insurance_500_from_price>1</insurance_500_from_price>
                <insurance_1000_active>0</insurance_1000_active>
                <insurance_1000_from_price>1</insurance_1000_from_price>
                <insurance_custom_active>0</insurance_custom_active>
                <insurance_custom_amount>1000</insurance_custom_amount>
                <insurance_custom_from_price>1</insurance_custom_from_price>
                <insurance_belgium_custom_active>0</insurance_belgium_custom_active>
                <insurance_belgium_custom_amount>0</insurance_belgium_custom_amount>
                <insurance_belgium_custom_from_price>1</insurance_belgium_custom_from_price>
            </default_options>
            <general>
                <deliverydays_window>14</deliverydays_window>
                <cutoff_time>15,30,00</cutoff_time>
                <dropoff_days>1,2,3,4,5</dropoff_days>
                <monday_delivery_active>0</monday_delivery_active>
                <saturday_cutoff_time>14,30,00</saturday_cutoff_time>
                <dropoff_delay>0</dropoff_delay>
            </general>
            <delivery>
                <active>1</active>
                <signature_active>1</signature_active>
                <signature_fee>0.36</signature_fee>
                <only_recipient_active>1</only_recipient_active>
                <only_recipient_fee>0.29</only_recipient_fee>
                <saturday_active>0</saturday_active>
                <saturday_title>Zaterdaglevering</saturday_title>
                <saturday_fee>2</saturday_fee>
            </delivery>
            <digital_stamp>
                <active>0</active>
                <default_weight>0</default_weight>
                <fee>0</fee>
            </digital_stamp>
            <mailbox>
                <active>0</active>
                <other_options>1</other_options>
                <weight>2000</weight>
                <fee>3.50</fee>
                <pickup_mailbox>1</pickup_mailbox>
            </mailbox>
            <morning>
                <active>1</active>
                <fee>10</fee>
            </morning>
            <evening>
                <active>1</active>
                <fee>1.25</fee>
            </evening>
            <pickup>
                <active>1</active>
                <fee>0</fee>
            </pickup>
        </myparcelbe_magento_postnl_settings>

        <myparcelbe_magento_ups_settings>
            <default_options>
            </default_options>
            <general>
                <deliverydays_window>3</deliverydays_window>
                <cutoff_time>15,30,00</cutoff_time>
                <dropoff_days>1,2,3,4,5</dropoff_days>
                <monday_delivery_active>0</monday_delivery_active>
                <saturday_cutoff_time>14,30,00</saturday_cutoff_time>
                <dropoff_delay>0</dropoff_delay>
            </general>
            <delivery>
                <active>1</active>
            </delivery>
        </myparcelbe_magento_ups_settings>

        <myparcelbe_magento_dpd_settings>
            <default_options>
            </default_options>
            <general>
                <deliverydays_window>3</deliverydays_window>
                <cutoff_time>15,30,00</cutoff_time>
                <dropoff_days>1,2,3,4,5</dropoff_days>
                <monday_delivery_active>0</monday_delivery_active>
                <saturday_cutoff_time>14,30,00</saturday_cutoff_time>
                <dropoff_delay>0</dropoff_delay>
            </general>
            <delivery>
                <active>1</active>
            </delivery>
            <pickup>
                <active>1</active>
                <fee>0</fee>
            </pickup>
            <mailbox>
                <active>0</active>
                <other_options>1</other_options>
                <weight>2000</weight>
                <fee>3.50</fee>
                <pickup_mailbox>1</pickup_mailbox>
            </mailbox>
        </myparcelbe_magento_dpd_settings>

        <sales_email>
            <track>
                <enabled>1</enabled>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </track>
        </sales_email>

    </default>
</config>
