<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <myparcelbe_magento_general>
            <print>
                <paper_type>A4</paper_type>
            </print>
            <shipping_methods>
                <methods>tablerate</methods>
            </shipping_methods>
            <delivery_titles>
                <delivery_title>Thuis of op het werk bezorgd</delivery_title>
                <standard_delivery_title>Standaardlevering</standard_delivery_title>
                <signature_title>Handtekening voor ontvangst</signature_title>
                <pickup_title>Ophalen bij een Bpost locatie</pickup_title>
                <pickup_list_button_title>List</pickup_list_button_title>
                <pickup_map_button_title>Map</pickup_map_button_title>
            </delivery_titles>
        </myparcelbe_magento_general>
        <myparcelbe_magento_bpost_settings>
            <options>
                <signature_active>0</signature_active>
                <signature_from_price>1</signature_from_price>
                <insurance_500_active>0</insurance_500_active>
                <insurance_500_from_price>1</insurance_500_from_price>
            </options>
            <general>
                <deliverydays_window>1</deliverydays_window>
                <cutoff_time>15,30,00</cutoff_time>
                <dropoff_days>1,2,3,4,5</dropoff_days>
                <dropoff_delay>0</dropoff_delay>
            </general>
            <delivery>
                <active>1</active>
                <signature_active>1</signature_active>
                <signature_fee>0.36</signature_fee>
                <saturday_active>0</saturday_active>
                <saturday_title>Zaterdaglevering</saturday_title>
                <saturday_fee>2</saturday_fee>
            </delivery>
            <pickup>
                <active>1</active>
                <fee>0</fee>
            </pickup>
        </myparcelbe_magento_bpost_settings>
        <myparcelbe_magento_dpd_settings>
            <general>
                <deliverydays_window>1</deliverydays_window>
                <cutoff_time>15,30,00</cutoff_time>
                <dropoff_days>1,2,3,4,5</dropoff_days>
                <dropoff_delay>0</dropoff_delay>
            </general>
            <delivery>
                <active>0</active>
            </delivery>
            <pickup>
                <active>1</active>
                <title>Ophalen bij een DPD locatie</title>
                <fee>0</fee>
            </pickup>
        </myparcelbe_magento_dpd_settings>
        <sales_email>
            <track>
                <enabled>1</enabled>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </track>
        </sales_email>
    </default>
</config>
