<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd" >
    <module name="MyParcelNL_Magento" setup_version="5.8.1">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Magento_Webapi"/>
            <module name="Magento_Integration"/>
            <module name="Magento_Authorization"/>
        </sequence>
    </module>
</config>
