<div id="mypa-options" class="_active">
    <form id="mypa-options-form">
        <input id="selected_ids" name="selected_ids" type="hidden">
        <div class="mypa__field__container">
            <div class="admin__field">
                <label class="admin__field-label">
                    <span>Action type</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="mypa_request_type-download"
                               name="mypa_request_type" value="download">
                        <label class="admin__field-label" for="mypa_request_type-download">Download label</label>
                    </div>
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="mypa_request_type-concept"
                               name="mypa_request_type" value="concept">
                        <label class="admin__field-label" for="mypa_request_type-concept">Concept</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mypa__field__container">
            <div class="admin__field">
                <label class="admin__field-label">
                    <span>Package Type</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="mypa_package_type-package"
                               name="mypa_package_type" value="1">
                        <label class="admin__field-label" for="mypa_package_type-package">Package</label>
                    </div>
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="mypa_package_type-mailbox"
                               name="mypa_package_type" value="2">
                        <label class="admin__field-label" for="mypa_package_type-mailbox">Mailbox</label>
                    </div>
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="mypa_package_type-letter"
                               name="mypa_package_type" value="3">
                        <label class="admin__field-label" for="mypa_package_type-letter">Letter</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mypa__field__container">
            <div class="admin__field mypa_position_container">
                <label class="admin__field-label">
                    <span>Print postition</span>
                </label>
                <div class="admin__field-control">
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="paper_size-A6"
                               name="paper_size" value="A6">
                        <label class="admin__field-label" for="paper_size-A6">A6</label>
                    </div>
                    <div class="admin__field admin__field-option">
                        <input type="radio" class="admin__control-radio" id="paper_size-A4"
                               name="paper_size" value="A4">
                        <label class="admin__field-label" for="paper_size-A4">A4</label>
                    </div>
                </div>
                <div class="mypa_position_selector">
                    <input type="checkbox" value="1" id="mypa_postition-1" name="mypa_positions[]">
                    <label class="mypa_position_selector-item" for="mypa_postition-1"></label>
                    <input type="checkbox" value="2" id="mypa_postition-2" name="mypa_positions[]">
                    <label class="mypa_position_selector-item" for="mypa_postition-2"></label>
                    <input type="checkbox" value="3" id="mypa_postition-3" name="mypa_positions[]">
                    <label class="mypa_position_selector-item" for="mypa_postition-3"></label>
                    <input type="checkbox" value="4" id="mypa_postition-4" name="mypa_positions[]">
                    <label class="mypa_position_selector-item" for="mypa_postition-4"></label>
                </div>
            </div>
        </div>
    </form>
</div>