name: 'On push to main'

on:
  push:
    branches:
      - main

  workflow_dispatch: ~

jobs:
  rebase:
    name: 'Rebase develop onto main'
    uses: myparcelnl/magento/.github/workflows/rebase.yml@main
    secrets: inherit
    with:
      base: 'main'
      target: 'develop'

  rebase-prs:
    name: 'Rebase pull requests onto develop'
    needs: rebase
    runs-on: ubuntu-20.04
    steps:
      - uses: peter-evans/rebase@v2
        with:
          token: ${{ secrets.GH_REPO_TOKEN }}
          base: develop
          exclude-drafts: true
          exclude-labels: 'hotfix'
